body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.div1 {
  background-color: rgb(0, 0, 61);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.nav {
  background-color: #191953;
  height: 62px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks {
  margin: 10px;
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
  font-weight: bold;
  font-size: 22px;
}

.tasks:hover {
  background-color: rgb(105, 105, 105);
  border: 2px solid rgb(77, 77, 77);
  color: rgb(0, 0, 0);
}

.panel {
  margin: 10 10 10 10;
  background-color: rgb(212, 212, 212);
  border: 2px solid rgb(170, 170, 170);
  width: 30%;
  height: 130px;
  padding: 20px 0px 20px 20px;
}

.main {
  margin: 10 10 10 10;
  background-color: rgb(212, 212, 212);
  border: 2px solid rgb(170, 170, 170);
  padding: 20px 20px 20px 20px;
  width: 65%;
  height: 130px;
}

.panel,
.main {
  display: inline-block;
  vertical-align: top;
}

.bottom {
  background-color: rgb(0, 0, 61);
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  right: 0px;
  left: 0px;
}
